#header {background-color:#49b050;
  
}
#header img{background-color:#49b050;
 width: 100%;
 
}
 #footer {
 	background-color:#49b050;
  	clear: left;
  	padding: 60px 0px;
  	width: 100%;
    height: 10px;


 }
 #footer p{
 	color: white;
  	padding-left: 100px;
  	margin-top: 2px

 }
 #footer h9{
 	padding-left: 1000px;
  color: #ffffff;
  margin-top: 10px;

 }
 .content{width: 100%
 			height:45%}
 .about {
 	  border-radius: 10px;
    border: 1px solid #73AD21;
 	  border-color:#33CC66;
  	background-color:#CCFFFF;
    float: left;
    width: 650px;
    height: 230px;
    margin: 30px;
    padding-left: 10px;
 	}
 .field{float: left;
    width: 300px;
    height: 250px;
    margin: 50px;
  }

 	
input {
 width:65%;
 height:35px;
 margin-bottom: 30px;
 border-radius: 5px;
 padding-left:10px;
 font-size:16px;
 width: 200px;
 
 
}

button{
 width:100px;
 height:50px;
 background-color:#33CC66;
 border-radius:8px;
 font-size:18px;
 float: right;

 
}
#info {
	float:left;
  color: #000000;
}

hr{
  border-width: 2px;
  margin-left: auto;
  margin-right: 10px;
  color: #33CC66;
} 